/* frontend/src/components/tabs/NodePropertiesTab.css */

.node-properties-tab {
    padding: 2px;
    background-color: #3f3f3f;
    /* VSCode dark theme background */
    color: #cccccc;
    /* VSCode text color */
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
}

.node-properties-tab h3 {
    color: #ffffff;
    /* Brighter title color */
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.1em;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
}

.node-properties-tab label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #aaaaaa;
}

.node-properties-tab input[type="text"] {
    width: 90%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #3c3c3c;
    /* VSCode input border */
    background-color: #333333;
    /* VSCode input background */
    color: #cccccc;
    /* VSCode input text color */
    border-radius: 3px;
    font-size: 0.9em;
}

.node-properties-tab input[type="text"]:focus,
.node-properties-tab textarea:focus {
    outline: none;
    border-color: #007acc;
    /* VSCode focus border color */
    box-shadow: 0 0 0 1px #007acc;
}

.node-properties-tab textarea {
    width: 90%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #3c3c3c;
    /* VSCode input border */
    background-color: #333333;
    /* VSCode input background */
    color: #cccccc;
    /* VSCode input text color */
    border-radius: 3px;
    font-size: 0.9em;
    resize: vertical;
    /* 允许垂直调整大小 */
}

.node-properties-tab .no-node-selected {
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
}